* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    box-sizing: border-box;
}

.container {
    width: 1600px;
    height: 900px;
    margin: 0 auto;
    background-color: #1386f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 20px;
    font-weight: inherit;
    color: yellow;
}

.h1 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 50px;
}

.main {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equal {
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
    margin: 0 100px;
}

.converterRow {
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 25px;
}

li {
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

select {
    margin-right: 25px;
    padding: 15px;
    border-radius: 5px;
}

input {
    padding: 15px;
    border-radius: 5px;
}